@font-face {
  font-family: "Space_Font";
  src: url("united_kingdom_demo-webfont.woff2") format('woff2'),
       url("united_kingdom_demo-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;

}

body{
  font-family: "Space_Font";
  background-image: url("pictures/moonBackground.jpg");background-size: 200%; 
     background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: scroll;
  
  }

  .container{
    background-color:hsla(202,52%,18%,0.75); padding: 10px; 
    border: 1px solid rgba(87, 137, 168, 0.5); border-color: rgb(50, 100, 131);
    overflow: hidden;
  }


  .header{
    background-color:rgba(70, 66, 66, 0.75); padding: 10px; 
    border: 1px solid rgba(87, 137, 168, 0.5); border-color: rgb(50, 100, 131);
    overflow: hidden;
  }
.foot{
  background-color:rgba(70, 66, 66, 0.75); padding: 10px; 
  border: 1px solid rgba(87, 137, 168, 0.5); border-color: rgb(50, 100, 131);
  overflow: hidden;
}

.menu{
  
  display: flex;
  justify-content: center;
    overflow: hidden;
    
  }

.menu a {
  font-family: "Space_Font";
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    
  }

  .menu a:hover {
    background-color: rgb(4, 19, 29);
    color:white;
  }
  
  /*Image styling*/

.join{width: 401px; height: 88px; padding: 40px;}

.join:hover{
  transform: scale(1.05);
}

.logos{width: 150px; height: 150px;}

.logos:hover
{
  transform: scale(1.1);
}

.ShermanOutpost{
  width: 1000px; height: 555px;
}

.support{
  width: 401px; height: 88px; padding: 40px;
}

.support:hover{
  transform: scale(1.05);
}

.twitter{width: 180px; height: 150px;}

.twitter:hover
{
  transform: scale(1.05);
}

.communities{margin-left: auto; margin-right: auto;}


.BuyShips{margin-left: auto; margin-right: auto;}

.ships{width: 300px; height: 300px; margin-left: auto; margin-right: auto; border: 2px solid rgb(98, 175, 223); }

.ships:hover
{
  border: 4px solid white; 
  transform: scale(1.05);
}

.roadmap{
  max-width: 1500px; height: auto; padding: 40px;
}

.expo{
  padding: 40px;
}

.map{
  width: 1500px; height:auto; padding: 40px;
}

.devs{
  padding:40px
}

.citizencon{
  padding: 40px
}

.ptu{width: 1500px; height:652px; padding: 40px }

/*Headings and table stying*/
h1 {text-align: center; color: white; font-family: "Space_Font"; padding: 10px; text-decoration: underline;}

h2{color: white; font-family: "Space_Font"; text-decoration: underline; padding: 5px;}

th,td{padding:30px}

label{color: white;}

.offline{color:red}

div.form
{
    display: block;
    text-align: center;
}

/*Form styling*/

form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}